<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332138828658-iglt69ck6u7obahnln6a3pngmbscafje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332138828658-iglt69ck6u7obahnln6a3pngmbscafje</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332138828658-bt4soongqulv0rgdmn1ab4lfh2s3lf27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDr-M4o0aV-7S_eW0rdzQ7h7XYG8il66eg</string>
	<key>GCM_SENDER_ID</key>
	<string>332138828658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigroi.mindcapitalsimulator</string>
	<key>PROJECT_ID</key>
	<string>bigroi-club</string>
	<key>STORAGE_BUCKET</key>
	<string>bigroi-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332138828658:ios:e8ab54aa733384967f83eb</string>
	<key>DATABASE_URL</key>
	<string>https://bigroi-club.firebaseio.com</string>
</dict>
</plist>